<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>ShowPetsServlet</servlet-name>
		<servlet-class>ShowPetsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAdopterServlet</servlet-name>
		<servlet-class>ShowAdopterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFavoriteServlet</servlet-name>
		<servlet-class>AddFavoriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberProfileServlet</servlet-name>
		<servlet-class>MemberProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertDates</servlet-name>
		<servlet-class>InsertDates</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddIndividualServlet</servlet-name>
		<servlet-class>AddIndividualServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddIndividualServlet</servlet-name>
		<url-pattern>/AddIndividualServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertDates</servlet-name>
		<url-pattern>/InsertDates</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberProfileServlet</servlet-name>
		<url-pattern>/MemberProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFavoriteServlet</servlet-name>
		<url-pattern>/AddFavoriteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAdopterServlet</servlet-name>
		<url-pattern>/ShowAdopterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPetsServlet</servlet-name>
		<url-pattern>/ShowPetsServlet</url-pattern>
	</servlet-mapping>
</web-app>
